@charset "UTF-8";
.background-img {
  background-image: url("../../image/coffee-background.jpg");
  height: 500px;
}
.background-img-repeat {
  background-image: url("../../image/coffee-background.jpg");
  background-repeat: no-repeat;
  height: 500px;
}
.background-img-hikinobasi {
  background-image: url("../../image/coffee-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
}
.background-img-hchyuuuou {
  background-image: url("../../image/coffee-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 500px;
}