@charset "UTF-8";
.header {
  background-color: #388bff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-inner {
  width: 1100px;
}
.header-logo {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: #f2ff7b;
  margin-top: 30px;
  text-decoration: none;
}
.header-list {
  list-style: none;
  float: right;
}
.header-list li {
  float: left;
  margin: 30px;
}
.header-list a {
  color: #fff;
  text-decoration: none;
}